extends ../layout/main-template.pug

block vars
  - var pageTitle = "Agency Creative";
  - var htmlClass = "index-html";
  - var bodyClass = "page";

block prepend styles
  link(rel="stylesheet", href="css/aos.css")
  link(rel="stylesheet", href="css/swiper.min.css")

block content
  main.index-main
    h1.visually-hidden Website for a creative agency helping your business
    include ../includes/_hero.pug
    include ../includes/_about-us.pug
    include ../includes/_services.pug
    include ../includes/_portfolio.pug
    include ../includes/_testimonials.pug
    include ../includes/_offer.pug

block prepend scripts
  script(src="js/aos.js")
  script(src="js/smooth-scroll.polyfills.min.js")
  script(src="js/swiper.min.js")
