//- Расширяем нужную страницу заранее заготовленным шаблоном
extends ../layout/main-template.pug
//- Если необходимо изменить переменную используем block vars(в шаблоне указываем все переменные)
block vars
  - var pageTitle = "New";
  - var htmlClass = "index-html";
  - var bodyClass = "page";
  - var siteNavigation = [{linkName: "Home", linkUrl: "#", additionalClass: "site-navigation__link--active"},{linkName: "About", linkUrl: "#", additionalClass: ""},{linkName: "Services", linkUrl: "#", additionalClass: ""},{linkName: "Projects", linkUrl: "#", additionalClass: ""}];
  - var termsArray = [{linkName: "Terms of Service", linkUrl: "#"},{linkName: "Privacy Policy", linkUrl: "#"}];
  - var companyArray = [{linkName: "Home", linkUrl: "#"},{linkName: "About Us", linkUrl: "#"},{linkName: "Contact Us", linkUrl: "#"}];
  - var contactArray = [{linkName: "(+62) 893912392190", linkUrl: "tel:+62893912392190"},{linkName: "agecnycr@gmail.com", linkUrl: "mailto:agecnycr@gmail.com"}];
  - var footerSocialLinks = [{linkUrl: "#", linkTitle: "We are on VK", linkIconName: "vk-ic", linkIconClassname: "socials-list__icon", linkIconWidth: "24", linkIconHeight: "16"},{linkUrl: "#", linkTitle: "We are on Pinterest", linkIconName: "pinterest-ic", linkIconClassname: "socials-list__icon", linkIconWidth: "20", linkIconHeight: "25"},{linkUrl: "#", linkTitle: "We are on LinkedIn", linkIconName: "linkedin-ic", linkIconClassname: "socials-list__icon", linkIconWidth: "22", linkIconHeight: "22"},{linkUrl: "#", linkTitle: "Email us", linkIconName: "email-ic", linkIconClassname: "socials-list__icon", linkIconWidth: "22", linkIconHeight: "18"},{linkUrl: "#", linkTitle: "We are on Twitter", linkIconName: "twitter-ic", linkIconClassname: "socials-list__icon", linkIconWidth: "24", linkIconHeight: "20"}];
  - var servicesCard = [{cardTitle: "Social media management", cardClassname: "services-card--monitor"},{cardTitle: "Search engine opimization", cardClassname: "services-card--gear"},{cardTitle: "Design", cardClassname: "services-card--pen"},{cardTitle: "Ads", cardClassname: "services-card--tv"}];
  - var portfolioCards = [{cardUrl:"#",imageUrl:"img/design-app",cardTitle:"Design byte app"},{cardUrl:"#",imageUrl:"img/cloud-app",cardTitle:"Cloud app"},{cardUrl:"#",imageUrl:"img/design-furniture-app",cardTitle:"Design furniture app"}];
  - var testimonialsCard = [{reviewName: "Angel Rose",imageUrl: "img/user-photo",userPosition: "Creative Manager",reviewText: "There are many variations passages of Lorem Ipsum majority some by words which don't look."},{reviewName: "Angel Rose",imageUrl: "img/user-photo",userPosition: "Creative Manager",reviewText: "There are many variations passages of Lorem Ipsum majority some by words which don't look."},{reviewName: "Angel Rose",imageUrl: "img/user-photo",userPosition: "Creative Manager",reviewText: "There are many variations passages of Lorem Ipsum majority some by words which don't look."}];
//- В блоке content размещаем контент

block content
  main.index-main
    h1.visually-hidden Website for a creative agency helping your business
    include ../includes/_hero.pug
    include ../includes/_about-us.pug
    include ../includes/_services.pug
    include ../includes/_portfolio.pug
    include ../includes/_testimonials.pug
//- В блоке scripts подключаем нужные скрипты
block prepend scripts
  script(src="js/slider.min.js")
