section.about-us#about-us
  .container
    header.section-header.about-us__header
      h2(data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000" data-aos-anchor-placement="bottom-bottom" data-aos-offset="100").section-header__title About Us
      p(data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000" data-aos-anchor-placement="bottom-bottom" data-aos-offset="100").section-header__subtitle Our Teammate
    .about-us__content
      .about-us__photo-wrapper(data-aos="fade-right" data-aos-delay="1000" data-aos-duration="800" data-aos-anchor-placement="center-bottom")
        picture
          source(srcset="img/our-teammates.webp" type="image/webp")
          img(loading="lazy" src="img/our-teammates.jpg" width="565" height="402" alt="Photo our teammates").about-us__photo
      .about-us__text-content(data-aos="fade-left" data-aos-delay="1000" data-aos-duration="800" data-aos-anchor-placement="center-bottom")
        p.description-text.about-us__description We move with make a Creative Strategy for help your business goal, we help to improve your income by a services we have. make your content look interesting and make people look for your business
        p.description-text.about-us__description We move with make a Creative Strategy for help your business goal, we help to improve your income by a services we have. make your content look interesting and make people look for your business
        .about-us__buttons
          a(href="#").about-us__button.button.button--primary.about-us__link About us
          button(type="button").about-us__button.button.button--outline
            +svg("button__icon", "play-ic", 24, 24)
            span.button__text Our Story
