header.main-header
  .container
    nav.main-navigation
      a.logo
        +svg("logo__icon", "logo-ic", 53, 50)
        .logo__text
          span.logo__top-text Agency
          span.logo__bottom-text Creative
      ul.site-navigation
        each link in siteNavigation
          li.site-navigation__item
            a(href= link.linkUrl class=`site-navigation__link ${link.additionalClass}`) #{link.linkName}
      button(type="button").button.button--outline Contact us
