.hero
  .container
    .hero__element-1
      h2.hero__title Make your dream business goal come true
      p.hero__description when you need us for improve your business,#[br] then come with us to help your business have reach it, you just sit and feel that goal
      .hero__button
        a(href="#").button.button--primary Start Project
    .hero__element-2
      .hero__card.hero-card.hero-card--projects
        span.hero-card__subtitle Great project
        p.hero-card__description #[b 800+] Done
      .hero__card.hero-card.hero-card--review
        blockquote.hero__review.hero-review
          header.hero-review__header
            picture
              source(srcset="img/hero-review-photo.webp" type="image/webp")
              img(loading="lazy" src="img/hero-review-photo.jpg" width="32" height="32" alt="User photo").hero-review__image
            .hero-review__about-user
              cite.hero-review__name Bill Adams
              p.hero-review__position CEO UpTech
          p.hero-review__quote This team is really the best in its field,I don't regret working with them, and will come back again thanks
      .hero__photo-wrapper
        picture
          source(srcset="img/team-photo.webp" type="image/webp")
          img(loading="lazy" src="img/team-photo.jpg" width="739" height="501" alt="Photo team Creative Agency").hero__photo

