section.offer
  .container.offer__container
    .offer__element-1(data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000" data-aos-anchor-placement="center-bottom")
      header.section-header.offer__header
        h2.visually-hidden.section-header__title Let's start to cooperate
        p.section-header__subtitle Interesting Collaboration With Us?
      p.description-text.offer__description-text Help you to reach your business goal
      .offer__button
        a(href="#").button.button--primary Get started
    .offer__element-2(data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000" data-aos-anchor-placement="center-bottom")
      picture.offer__first-picture
        source(srcset="img/offer-first-image.webp" type="image/webp")
        img(loading="lazy" src="img/offer-first-image.jpg" width="325" height="288" alt="Our working day").offer__image
      picture.offer__second-picture
        source(srcset="img/offer-second-image.webp" type="image/webp")
        img(loading="lazy" src="img/offer-second-image.jpg" width="294" height="288" alt="Our working day").offer__image
