section.portfolio
  .container
    header.section-header
      h2.section-header__title Our Portfolio
      p.section-header__subtitle.portfolio__subtitle What do we do
    p.description-text.portfolio__description all projects that we have already done , proven can help to use more comfortable, then can used by client from our business
    ul.portfolio__list
      +portfolioCards(portfolioCards)
    .portfolio__button
      a(href="#").button.button--outline see all portfolio
