section.portfolio#projects
  .container
    header.section-header
      h2(data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000" data-aos-anchor-placement="bottom-bottom" data-aos-offset="100").section-header__title Our Portfolio
      p(data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000" data-aos-anchor-placement="bottom-bottom" data-aos-offset="100").section-header__subtitle.portfolio__subtitle What do we do
    p(data-aos="fade-up" data-aos-delay="1100" data-aos-duration="1000" data-aos-anchor-placement="bottom-bottom" data-aos-offset="100").description-text.portfolio__description all projects that we have already done , proven can help to use more comfortable, then can used by client from our business
    ul(data-aos="fade-up" data-aos-delay="1400" data-aos-duration="1000" data-aos-anchor-placement="top-bottom").portfolio__list
      +portfolioCards(pugData.portfolioCards)
    .portfolio__button(data-aos="fade-up" data-aos-delay="1700" data-aos-duration="1000" data-aos-anchor-placement="bottom-bottom")
      a(href="#").button.button--outline see all portfolio
