section.services
  .container.services__container
    .services__text-content(data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000" data-aos-anchor-placement="center-bottom")
      header.section-header.services__header
        h2.section-header__title Our Services
        p.section-header__subtitle Perfect and Fast Movement
      p.description-text.services__description We move with make a Creative Strategy for help your business goal, we help to improve your income by a services we have. make your content look interesting and make people look for your business
      a(href="#").services__link Read more
    .services__cards(data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000" data-aos-anchor-placement="center-bottom")
      ul.services__list
        +serviceCard(servicesCard)
