section.testimonials
  .container.testimonials__container
    header.section-header.testimonials__header
      h2(data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000" data-aos-anchor-placement="top-center").section-header__title Testimonial
      p(data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000" data-aos-anchor-placement="top-center").section-header__subtitle People talk about us
    .swiper.testimonial__slider(data-mobile="false")
      ul.swiper-wrapper.testimonials__list
        +testimonialsCards(pugData.testimonialsCard)
