section.testimonials
  .container
    header.section-header.testimonials__header
      h2.section-header__title Testimonial
      p.section-header__subtitle People talk about us
    ul.testimonials__list
      +testimonialsCards(testimonialsCard)
