@mixin font($name, $font-family, $weight, $style, $font-name-local, $font-name-local-alternate) {
  @font-face {
    src:
      local("#{$font-name-local}"),
      local("#{$font-name-local-alternate}"),
      url("../fonts/" + $name + ".woff2") format("woff2");
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

// @include hover {}

@mixin hover-focus {
  @media (hover: hover) {
    &:focus {
      @content;
    }

    &:hover {
      @content;
    }
  }
}

// @include hover-focus {}

@mixin px375 {
  @media (max-width: 375px) {
    @content;
  }
}

// @include px375 {}

@mixin px425 {
  @media (max-width: 425px) {
    @content;
  }
}

// @include px425 {}

@mixin px600 {
  @media (max-width: 600px) {
    @content;
  }
}

// @include px600 {}

@mixin px768 {
  @media (max-width: 768px) {
    @content;
  }
}

// @include px768 {}

@mixin px920 {
  @media (max-width: 920px) {
    @content;
  }
}

// @include px920 {}

@mixin px1024 {
  @media (max-width: 1024px) {
    @content;
  }
}

// @include px1024 {}
