@mixin font($name, $font-family, $weight, $style, $font-name-local, $font-name-local-alternate) {
  @font-face {
    src:
      local("#{$font-name-local}"),
      local("#{$font-name-local-alternate}"),
      url("../fonts/" + $name + ".woff2") format("woff2");
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin outline {
  outline: 2px solid var(--color-outline);
  outline-offset: 2px;
}

/* @include outline; */

@mixin outline-inner {
  outline: 2px solid var(--color-outline);
  outline-offset: -2px;
}

/* @include outline-inner; */

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

// @include hover {}

@mixin hover-focus {
  @media (hover: hover) {
    &:focus {
      @content;
    }

    &:hover {
      @content;
    }
  }
}

// @include hover-focus {}

$xxs: 375px;
$xs: 425px;
$sm: 600px;
$md: 768px;
$lg: 920px;
$xl: 1024px;

@mixin max-xxs {
  @media (max-width: $xxs) {
    @content;
  }
}

// @include max-xxs {}

@mixin max-xs {
  @media (max-width: $xs) {
    @content;
  }
}

// @include max-xs {}

@mixin max-sm {
  @media (max-width: $sm) {
    @content;
  }
}

// @include max-sm {}

@mixin max-md {
  @media (max-width: $md) {
    @content;
  }
}

// @include max-md {}
@mixin max-lg {
  @media (max-width: $lg) {
    @content;
  }
}

// @include max-lg {}

@mixin max-xl {
  @media (max-width: $xl) {
    @content;
  }
}

// @include max-xl {}
