:root {
  --sans-serif: "Quicksand", sans-serif;
  --serif: "Times New Roman", "Georgia", "Baskerville", serif;
  --color-white: 255 255 255;
  --color-black: 0 0 0;
  --color-cod-gray: 29 29 29;
  --color-dodger-blue: 55 125 255;
}
