:root {
  --sans-serif: "Quicksand", sans-serif;
  --serif: "Times New Roman", "Georgia", "Baskerville", serif;
  --color-white: 255 255 255; /* #ffffff */
  --color-black: 0 0 0; /* #000000 */
  --color-cod-gray: 29 29 29; /* #1d1d1d */
  --color-dodger-blue: 55 125 255; /* #377dff */
  --color-thunder: 56 54 56; /* #383638 */
  --color-tundora: 70 70 70; /* #464646 */
  --gap-between-sections: 130px;

  @media (max-width: 768px) {
    --gap-between-sections: 100px;
  }
}
