block vars
  - var pageTitle = "Main title";
  - var htmlClass = "";
  - var bodyClass = "";

block mixins
  include ../mixins/_svg.pug
  include ../mixins/_site-navigation-links.pug
  include ../mixins/_svg.pug
  include ../mixins/_main-footer-column.pug
  include ../mixins/_services-card.pug
  include ../mixins/_portfolio-cards.pug
  include ../mixins/_testimonials-cards.pug

doctype html
html(lang="en" class= htmlClass)
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= pageTitle
    include ../includes/_favicon.pug
    block styles
      link(rel="preload", href="fonts/QuicksandLight.woff2" as="font" type="font/woff2" crossorigin)
      link(rel="preload", href="fonts/QuicksandRegular.woff2" as="font" type="font/woff2" crossorigin)
      link(rel="preload", href="fonts/QuicksandSemiBold.woff2" as="font" type="font/woff2" crossorigin)
      link(rel="preload", href="fonts/QuicksandBold.woff2" as="font" type="font/woff2" crossorigin)
      link(rel="preload", href="fonts/NunitoRegular.woff2" as="font" type="font/woff2" crossorigin)
      link(rel="preload", href="fonts/NunitoSemiBold.woff2" as="font" type="font/woff2" crossorigin)
      link(rel="preload", href="fonts/NunitoBold.woff2" as="font" type="font/woff2" crossorigin)
      link(rel="preload", href="fonts/NunitoExtraBold.woff2" as="font" type="font/woff2" crossorigin)
      link(rel="stylesheet", href="css/styles.min.css")
  body(class= bodyClass)
    include ../includes/_header.pug
    block content
    include ../includes/_footer.pug

    block scripts
      script(src="js/script.min.js")
