.button {
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 12px 50px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  user-select: none;

  @include px920 {
    font-size: 15px;
  }

  @include px768 {
    padding: 11px 42px;
    font-size: 14px;
  }

  @include px600 {
    font-size: 13px;
  }

  @include px425 {
    padding: 10px 35px;
    font-size: 12px;
  }
}

.button__icon {
  margin-right: 10px;
  fill: currentColor;
}

.button--outline {
  border: 1px solid rgb(var(--color-dodger-blue));
  color: rgb(var(--color-dodger-blue));
  background-color: rgb(var(--color-white));

  @include hover-focus {
    color: rgb(var(--color-white));
    background-color: rgb(var(--color-dodger-blue));
  }
}

.button--primary {
  border: 1px solid rgb(var(--color-dodger-blue));
  box-shadow: 0 4px 8px rgb(var(--color-dodger-blue) / 50%);
  color: rgb(var(--color-white));
  background-color: rgb(var(--color-dodger-blue));

  @include hover-focus {
    color: rgb(var(--color-dodger-blue));
    background-color: rgb(var(--color-white));
  }
}
