.description-text {
  margin: 0;
  font-size: 20px;
  line-height: 32px;
  color: var(--color-tundora);

  @include px768 {
    font-size: 18px;
    line-height: 28px;
  }

  @include px600 {
    font-size: 15px;
  }

  @include px425 {
    font-size: 14px;
    line-height: 24px;
  }
}
