.hero {
  padding-bottom: 44px;
}

.hero__element-1 {
  position: relative;
}

.hero__element-1::before {
  content: "";
  position: absolute;
  left: -0.5%;
  bottom: 19%;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  box-shadow: 0 3px 20px rgba(var(--color-black) / 5%);
  background: linear-gradient(rgb(68 133 255 / 80%) 0%, rgb(55 125 255));
}

.hero__element-1::after {
  content: "";
  position: absolute;
  right: -9.5%;
  top: 29%;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  box-shadow: 0 3px 20px rgba(var(--color-black) / 5%);
  background: linear-gradient(rgb(255 142 142) 0%, rgb(246 36 36));
}

.hero__title {
  margin: -6px auto 23px;
  max-width: 750px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.6px;
  text-align: center;
  color: rgb(var(--color-cod-gray));
}

.hero__description {
  margin: 0 auto 32px;
  max-width: 790px;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.1px;
  text-align: center;
  color: rgba(var(--color-tundora) / 60%);
}

.hero__button {
  margin-bottom: 100px;
  text-align: center;
}

.hero__element-2 {
  position: relative;
  display: flex;
  justify-content: center;
}

.hero__element-2::before {
  content: "";
  position: absolute;
  left: 16.2%;
  top: 36.5%;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  box-shadow: 0 3px 20px rgba(var(--color-black) / 5%);
  background: linear-gradient(rgb(255 142 142) 0%, rgb(246 36 36));
}

.hero__element-2::after {
  content: "";
  position: absolute;
  right: 7.5%;
  top: -4%;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  box-shadow: 0 3px 20px rgba(var(--color-black) / 5%);
  background: linear-gradient(rgb(68 133 255 / 80%) 0%, rgb(55 125 255));
}

.hero-card {
  z-index: 20;
  border-radius: 16px;
  padding: 18px 25px;
  box-shadow: 0 8px 24px rgba(var(--color-black) / 15%);
  background-color: rgb(var(--color-white));
}

.hero-card__subtitle {
  display: inline-block;
  margin-bottom: 11px;
  padding-left: 27px;
  background-image: url("../img/star.svg");
  background-position: center left;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-card__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
}

.hero__review {
  margin: 0;
}

.hero-review__header {
  display: flex;
}

.hero-review__image {
  margin-right: 10px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.hero-review__name {
  margin-bottom: 10px;
  font-weight: 700;
  font-style: normal;
  font-size: 10px;
  color: rgb(var(--color-cod-gray));
}

.hero-review__position {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 6px;
  color: rgba(var(--color-cod-gray) / 50%);
}

.hero-review__quote {
  font-family: "Nunito", sans-serif;
  font-size: 10px;
  line-height: 14px;
  color: rgb(var(--color-cod-gray));
}

.hero-review__quote::before {
  content: "“";
}

.hero-review__quote::after {
  content: "“";
}

.hero-card--projects {
  align-self: flex-start;
  order: 1;
  margin-top: 24px;
  margin-right: -68px;
  max-width: 175px;
}

.hero-card--review {
  align-self: flex-end;
  order: 3;
  margin-bottom: -7px;
  margin-left: -59px;
  max-width: 166px;
}

.hero__photo-wrapper {
  position: relative;
  z-index: 10;
  order: 2;
  line-height: 0;
}

.hero__photo {
  overflow: hidden;
  border-radius: 50px;
  width: 100%;
  height: auto;
}

.hero__photo-wrapper::before {
  content: "";
  position: absolute;
  left: 139px;
  top: -20px;
  z-index: -1;
  width: 99px;
  height: 71px;
  background-image: url("../img/blue-dots.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero__photo-wrapper::after {
  content: "";
  position: absolute;
  left: 176px;
  bottom: -19px;
  z-index: -1;
  width: 99px;
  height: 71px;
  background-image: url("../img/red-dots.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
