.main-footer {
  padding-top: 132px;
  padding-bottom: 18px;
  background-color: rgb(var(--color-thunder));

  @include px920 {
    padding-top: 90px;
  }

  @include px425 {
    padding-top: 45px;
  }
}

.main-footer__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;

  @include px768 {
    flex-wrap: wrap;
  }
}

.main-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  margin-left: 72px;
  width: 100%;

  @include px768 {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.main-footer__column {
  margin-right: 15px;
  margin-bottom: 40px;
  margin-left: 15px;
}

.main-footer-column__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 22px;
  color: rgb(var(--color-white));

  @include px768 {
    font-size: 20px;
  }

  @include px600 {
    font-size: 18px;
  }
}

.main-footer-column__content {
  margin-left: 0;
  line-height: 45px;
}

.main-footer-column__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-footer-column__link {
  font-size: 18px;
  text-decoration: none;
  color: rgb(var(--color-white));

  @include hover-focus {
    text-decoration: underline;
  }

  @include px768 {
    font-size: 17px;
  }

  @include px600 {
    font-size: 16px;
  }
}

.main-footer-column__address {
  font-style: normal;
  font-size: 18px;
  color: rgb(var(--color-white));

  @include px768 {
    font-size: 17px;
  }

  @include px600 {
    font-size: 16px;
  }
}

.main-footer-column__email {
  text-decoration: none;
  color: rgb(var(--color-white));

  @include hover-focus {
    text-decoration: underline;
  }
}

.main-footer__socials {
  margin: 0 auto;
  max-width: 500px;

  @include px425 {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.socials-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  border-bottom: 1px solid rgb(var(--color-white));
  padding-right: 50px;
  padding-bottom: 16px;
  padding-left: 50px;
}

.socials-list__item {
  margin-right: 12px;
  margin-left: 12px;
}

.socials-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(var(--color-white));
  transition: opacity 0.3s ease;

  @include hover-focus {
    opacity: 0.6;
  }

  @include px425 {
    width: 36px;
    height: 36px;
  }
}

.main-footer__copyright {
  font-size: 18px;
  text-align: center;
  color: rgb(var(--color-white));

  @include px600 {
    font-size: 16px;
    line-height: 1.5;
  }

  @include px425 {
    font-size: 14px;
    line-height: 1.5;
  }
}
