.offer {
  padding-top: 20px;
  padding-bottom: var(--gap-between-sections);

  @include max-sm {
    padding-top: 20px;
  }
}

.offer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include max-md {
    flex-direction: column-reverse;
  }
}

.offer__element-1 {
  flex-shrink: 2;
  margin-right: 30px;
  max-width: 490px;

  @include max-md {
    margin-right: 0;
  }
}

.offer__header {
  margin-bottom: 33px;
  text-align: left;

  @include max-md {
    text-align: center;
  }

  @include max-xs {
    margin-bottom: 25px;
  }
}

.offer__description-text {
  margin-bottom: 24px;

  @include max-md {
    text-align: center;
  }
}

.offer__button {
  @include max-md {
    text-align: center;
  }
}

.offer__element-2 {
  display: flex;
  align-items: flex-start;
  min-height: 382px;

  @include max-md {
    margin-bottom: 45px;
  }

  @include max-sm {
    min-height: 350px;
  }

  @include max-xs {
    min-height: 300px;
  }
}

.offer__first-picture {
  position: relative;
  z-index: 10;
  align-self: flex-end;
  margin-right: -32px;

  @include max-sm {
    margin-right: -34px;
  }

  @include max-xs {
    margin-right: -54px;
  }
}

.offer__first-picture::after {
  content: "";
  position: absolute;
  left: 14%;
  top: -54px;
  z-index: -1;
  width: 99px;
  height: 71px;
  background-image: url("../img/blue-dots.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @include max-xs {
    display: none;
  }
}

.offer__second-picture {
  position: relative;
  align-self: flex-start;
}

.offer__second-picture::after {
  content: "";
  position: absolute;
  right: 14%;
  bottom: -54px;
  z-index: -1;
  width: 99px;
  height: 71px;
  background-image: url("../img/orange-dots.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @include max-xs {
    display: none;
  }
}

.offer__image {
  border-radius: 16px;
  width: 100%;
  height: auto;
}
