.offer {
  padding-top: 148px;
  padding-bottom: 140px;
}

.offer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offer__element-1 {
  max-width: 490px;
}

.offer__header {
  margin-bottom: 33px;
  text-align: left;
}

.offer__description-text {
  margin-bottom: 24px;
}

.offer__element-2 {
  display: flex;
  align-items: flex-start;
  min-height: 382px;
}

.offer__first-picture {
  position: relative;
  z-index: 10;
  align-self: flex-end;
  margin-right: -32px;
}

.offer__first-picture::after {
  content: "";
  position: absolute;
  left: 14%;
  top: -54px;
  z-index: -1;
  width: 99px;
  height: 71px;
  background-image: url("../img/blue-dots.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.offer__second-picture {
  position: relative;
  align-self: flex-start;
}

.offer__second-picture::after {
  content: "";
  position: absolute;
  right: 14%;
  bottom: -54px;
  z-index: -1;
  width: 99px;
  height: 71px;
  background-image: url("../img/orange-dots.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.offer__image {
  border-radius: 16px;
}
