.portfolio {
  padding-top: 20px;
  padding-bottom: var(--gap-between-sections);
}

.portfolio__subtitle {
  margin-bottom: 38px;

  @include px768 {
    margin-bottom: 18px;
  }
}

.portfolio__description {
  margin: 0 auto;
  margin-bottom: 74px;
  max-width: 674px;
  text-align: center;

  @include px425 {
    margin-bottom: 40px;
  }
}

.portfolio__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  margin-right: -92px;
  margin-bottom: -36px;
  padding: 0;

  @include px920 {
    margin-right: -30px;
    margin-bottom: 36px;
  }
}

.portfolio__list::before {
  content: "";
  position: absolute;
  left: 17%;
  bottom: 43px;
  z-index: -1;
  width: 99px;
  height: 71px;
  background-image: url("../img/purple-dots.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @include px920 {
    left: 24%;
    bottom: 43px;
  }
}

.portfolio__list::after {
  content: "";
  position: absolute;
  right: 9%;
  top: -53px;
  z-index: -1;
  width: 99px;
  height: 71px;
  background-image: url("../img/purple-dots.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @include px920 {
    right: 20%;
    top: -53px;
  }

  @include px425 {
    right: 13%;
    top: -31px;
  }
}

.portfolio__item {
  margin-right: 92px;
  margin-bottom: 92px;

  @include px920 {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.portfolio-card {
  transition: transform 0.4s ease-in-out;
  cursor: pointer;

  @include hover {
    transform: scale(1.02);
  }
}

.portfolio-card__link {
  position: relative;
  text-decoration: none;
  color: rgb(var(--color-white));
  cursor: pointer;
}

.portfolio-card__image {
  border-radius: 30px;

  @include px920 {
    width: 100%;
    object-fit: cover;
  }

  @include px425 {
    height: 290px;
  }
}

.portfolio-card__title {
  position: absolute;
  left: 35px;
  bottom: 39px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;

  @include px425 {
    left: 20px;
    bottom: 24px;
  }
}

.portfolio__button {
  position: relative;
  z-index: 10;
  text-align: center;
}
