.section-header {
  text-align: center;
}

.section-header__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: var(--color-dodger-blue);

  @include max-lg {
    font-size: 22px;
    line-height: 22px;
  }

  @include max-md {
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 19px;
  }

  @include max-sm {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 16px;
  }

  @include max-xs {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 14px;
  }
}

.section-header__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: initial;
  color: var(--color-cod-gray);

  @include max-lg {
    font-size: 45px;
  }

  @include max-md {
    font-size: 38px;
  }

  @include max-sm {
    font-size: 30px;
  }

  @include max-xs {
    font-size: 24px;
  }
}
