.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;

  @include px920 {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

.site-navigation__item {
  margin-right: 25px;
  margin-left: 25px;

  @include px920 {
    margin-bottom: 25px;
  }
}

.site-navigation__link {
  font-size: 18px;
  text-decoration: none;
  color: rgb(var(--color-cod-gray));
}

.site-navigation__link:hover,
.site-navigation__link:focus {
  text-decoration: underline;
}

.site-navigation__link--active {
  font-weight: 700;
}
