.testimonials {
  padding-top: 20px;
  padding-bottom: var(--gap-between-sections);
}

.testimonials__container {
  @include px600 {
    padding-right: 0;
    padding-left: 0;
  }
}

.testimonials__header {
  margin-bottom: 57px;
}

.testimonial__slider {
  overflow: visible;
  margin-right: -50px;

  @include px600 {
    overflow: hidden;
    margin-right: 0;
  }
}

.testimonials__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  margin-right: -50px;
  margin-bottom: 70px;
  padding: 0;

  @include px1024 {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include px600 {
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.testimonials__list::before {
  content: "";
  position: absolute;
  left: 5%;
  top: -55px;
  z-index: -1;
  width: 99px;
  height: 71px;
  background-image: url("../img/blue-dots.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @include px600 {
    display: none;
  }
}

.testimonials__list::after {
  content: "";
  position: absolute;
  right: 0%;
  bottom: -55px;
  z-index: -1;
  width: 99px;
  height: 71px;
  background-image: url("../img/blue-dots.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @include px600 {
    display: none;
  }
}

.testimonials__item {
  flex: 1 1 380px;
  margin-right: 50px;
  border-radius: 20px;
  min-height: 335px;
  box-shadow: 0 8px 24px var(--color-black-5);
  background-color: var(--color-white);

  @include px1024 {
    flex-grow: 0;
    margin-bottom: 30px;
  }

  @include px600 {
    flex: 1 0 90%;
    margin-right: 0;
    min-height: 300px;
  }
}

.quote {
  margin: 0;
  padding: 50px 38px;
}

.quote__header {
  display: flex;
  align-items: center;
}

.quote__avatar {
  flex-grow: 0;
  margin-right: 30px;
  border-radius: 50%;
}

.quote__about-user {
  flex-grow: 2;
}

.quote__name {
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-dodger-blue);

  @include px600 {
    font-size: 18px;
  }
}

.quote__position {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 11px;
  line-height: 34px;
  color: var(--color-tundora-50);
}

.quote__review {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-tundora-80);

  @include px600 {
    font-size: 16px;
  }

  @include px425 {
    font-size: 14px;
  }
}
